<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Back Office | FUYO</title>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" content="Back Office | FUYO"/>
    <meta name="description" content="Back Office | FUYO"/>
    <meta property="og:title" content="Back Office | FUYO">
    <meta content="Back Office | FUYO" property="og:description">
    <meta content="Back Office | FUYO" property="twitter:description">
    <meta content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA." property="twitter:image">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA.">
    <meta name="twitter:title" content="Back Office | FUYO">
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="manifest" href="/images/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo192.png">
    <style>
        body {
        color: #101828;
        font-family: 'Inter', seif;
        font-style: normal;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        /* Rectangle 38 */
    }

    .title {
        color: #0C9383;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .img {
        width: 80px;
        margin: auto;
        display: block;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1%;
    }

    /* .child-container { */
        /* width: 500px; */
        /* padding: 15px; */
        /* backdrop-filter: blur(20px); */
        /* border-radius: 32px; */
        /* text-align: center; */
    /* } */

    .header-1 {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #667085;
    }
    .wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr); /* Adjust this to change the number of columns */
        gap: 10px;
    }
    .table-area h2 {
        grid-column: span 6; /* This should match the number of columns */
    }
    a {
        color: #43D9BB;
        text-decoration: none;
    }

    #footer {
        backdrop-filter: brightness(0.1);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #footer p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #98A2B3;
    }

    main {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .pagination {
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <%- include('header', {user: data.user}) %>
        <h1 class="header-1">Game Winning Numbers</h1>
        <div class="content-wrapper">
            <% for(let gameId in data.pastDrawResults) { %>
                <div class="table-area">
                    <h2 class="title">Game ID: <%= gameId %></h2>
                    <div class="wrapper">
                        <% data.pastDrawResults[gameId].forEach(function(prize) { %>
                            <!-- <div class="child-container"> -->
                                <strong class="title">Prize Category:</strong> <%= prize.prizeCategory %><br>
                                <strong class="title">Number Pair:</strong> <%= prize.numberPair %><br>
                                <strong class="title">Prize Index:</strong> <%= prize.prizeIndex %>
                            <!-- </div> -->
                        <% }); %>
                    </div>
                </div>
            <% } %>
            <div class="pagination">
                <% if (data.currentPage > 1) { %>
                <a href="?page=<%= data.currentPage - 1 %>">Previous</a>
                <% } %>
            
                <% for (let i = 1; i <= data.totalPages; i++) { %>
                    <% if (i === data.currentPage) { %>
                        <span><%= i %></span>
                    <% } else { %>
                        <a href="?page=<%= i %>"><%= i %></a>
                    <% } %>
                <% } %>
            
                <% if (data.currentPage < data.totalPages) { %>
                <a href="?page=<%= data.currentPage + 1 %>">Next</a>
                <% } %>
            </div>
        </div>
    </div>
    <div class="bg"></div>
    <div class="bg"></div>
    <div id="footer">
      <p>&#169; FUYO 2024. All Rights Reserved.</p>
    </div>
</body>
</html>