<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>FUYO | Unedited</title>
  <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="title" content="FUYO | Unedited" />
  <meta name="description" content="FUYO | Unedited" />
  <meta property="og:title" content="FUYO | Unedited">
  <meta content="FUYO | Unedited" property="og:description">
  <meta content="FUYO | Unedited" property="twitter:description">
  <meta
    content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA."
    property="twitter:image">
  <meta property="og:type" content="website">
  <meta property="og:image"
    content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA.">
  <meta name="twitter:title" content="FUYO | Unedited">

  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="manifest" href="/images/manifest.json" />
  <link rel="apple-touch-icon" sizes="180x180" href="/images/logo192.png">
</head>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    color: #101828;
    font-family: 'Inter', seif;
    font-style: normal;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    /* Rectangle 38 */
  }

  .title {
    color: #0C9383;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .img {
    width: 80px;
    margin: auto;
    display: block;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .child-container {
    width: 500px;
    padding: 15px;
    /* backdrop-filter: blur(20px); */
    border-radius: 32px;
    text-align: center;
  }

  .header-1 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #667085;
  }

  .content {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #667085;
    width: 480px;
    display: block;
    margin: auto;
  }

  a {
    color: #43D9BB;
    text-decoration: none;
  }

  #footer {
    backdrop-filter: brightness(0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  #footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #98A2B3;
  }

  main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .table-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 900px;
  }

  .table-area .wrapper {
    border-radius: 8px;
    border: 1px solid #000;
    background: #F0EEEE;
    padding: 6px;
  }

  .table-area table {
    width: 100%;
    border-radius: 8px;
    background: #F0EEEE;
    border-collapse: collapse;
  }

  .table-area thead {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
  }

  .table-area tbody {
    background-color: #fff;
  }

  .table-area th,
  td {
    padding: 12px 6px;
    text-align: center;
  }

  .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FEEE5B;
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .point-menu {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: flex-end;
  }

  .point-menu-btn a {
    color: #000;
  }

  @media screen and (max-width: 500px) {
    body {
      background-image: url('/images/app.bg.svg');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      position: relative;

      margin: 0;
      padding: 0;

    }

    .bg {
      width: 100%;
      height: 100%;
      bottom: 0;
      position: absolute;
      background: url('/images/not-found-background-mobile.png') no-repeat center bottom fixed;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    .content {
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 16px;
      line-height: 24px;
    }

    .container {
      margin-top: 10%;
      backdrop-filter: blur(20px);
    }

    .child-container {
      width: unset;
    }

    .header-1 {
      font-size: 16px;
    }

    #footer {
      backdrop-filter: brightness(0.1);
      position: fixed;
      bottom: 0;
      width: 100%;
      height: auto;
    }

    .content-wrapper {
      padding-left: 12px;
      padding-right: 12px;
    }

    .scrollable-table {
      max-height: 400px;
      /* Adjust the height as needed */
      overflow-y: auto;
    }

    .scrollable-table table {
      width: 100%;
      border-collapse: collapse;
    }

    .scrollable-table th,
    .scrollable-table td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    .scrollable-table th {
      background-color: #f2f2f2;
      text-align: left;
    }

  }
</style>

<body>

  <div class="container">
    <%- include('sidebar') %>

      <div class="content-wrapper">

        <div>
          <span>current epoch:</span>
          <span><%- data.currentEpoch %></span>
        </div>

        <form id="salesReportEpochForm" action="/back-office/sales-report-epoch" method="get">
          <label for="startDate">Epoch:</label>
          <input type="number" id="epoch" name="epoch" required>
          <br>
          <button type="submit">Get Sales Report</button>
        </form>

        <div class="table-area">
          <% if (data && data.bets) { %>
            <h2>Sales Report</h2>
            <div>
              <span>Total Bet User: <%- data.bets.totalBetUser %></span><br />
              <span>Total Bet Count: <%- data.bets.totalBetCount %></span><br />
              <span>Total Bet Amount: $<%- data.bets.totalBetAmount %></span><br />
              <span>Total Credit Used: $<%- data.bets.totalCreditUsed %></span><br />
              <span>Total Win Count: <%- data.bets.totalWinCount %></span><br />
              <span>Total Win Amount: $<%- data.bets.totalWinAmount %></span><br />
              <span>Total Profit: $<%- data.bets.totalProfit %></span><br />
            </div>
            <br />
            <h3>Win Count & Amount Based on Prize Category</h3>
            <div>
              <table>
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Winning Bet Count</th>
                        <th>Winning Bet Amount</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>First</td>
                    <td><%- data.bets.category.first.count %></td>
                    <td>$<%- data.bets.category.first.amount %></td>
                  </tr>
                  <tr>
                    <td>Second</td>
                    <td><%- data.bets.category.second.count %></td>
                    <td>$<%- data.bets.category.second.amount %></td>
                  </tr>
                  <tr>
                    <td>Third</td>
                    <td><%- data.bets.category.third.count %></td>
                    <td>$<%- data.bets.category.third.amount %></td>
                  </tr>
                  <tr>
                    <td>Special</td>
                    <td><%- data.bets.category.special.count %></td>
                    <td>$<%- data.bets.category.special.amount %></td>
                  </tr>
                  <tr>
                    <td>Consolation</td>
                    <td><%- data.bets.category.consolation.count %></td>
                    <td>$<%- data.bets.category.consolation.amount %></td>
                  </tr>
                </tbody>
              </table>
            </div>
          <% } else { %>
            <p>No data available</p>
          <% } %>
        </div>
      </div>
  </div>
  <div class="bg"></div>
  <div class="bg"></div>
  <div id="footer">
    <p>&#169; FUYO 2024. All Rights Reserved.</p>
  </div>

</body>

</html>