<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>4DGPT | Unedited</title>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" content="4DGPT | Unedited"/>
    <meta name="description" content="4DGPT | Unedited"/>
    <meta property="og:title" content="4DGPT | Unedited">
    <meta content="4DGPT | Unedited" property="og:description">
    <meta content="4DGPT | Unedited" property="twitter:description">
    <meta content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA." property="twitter:image">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA.">
    <meta name="twitter:title" content="4DGPT | Unedited">
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="manifest" href="/images/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo192.png">
  </head>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
        color: #101828;
        font-family: 'Inter', seif;
        font-style: normal;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        /* Rectangle 38 */
    }

    .title {
        color: #0C9383;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .img {
        width: 80px;
        margin: auto;
        display: block;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .child-container {
        width: 500px;
        padding: 15px;
        /* backdrop-filter: blur(20px); */
        border-radius: 32px;
        text-align: center;
    }

    .header-1 {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #667085;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #667085;
        width: 480px;
        display: block;
        margin: auto;
    }

    a {
        color: #43D9BB;
        text-decoration: none;
    }

    #footer {
        backdrop-filter: brightness(0.1);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #footer p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #98A2B3;
    }

    main {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .content-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #FEEE5B;
      padding-top: 26px;
      padding-bottom: 26px;
    }

    .flex-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 700px;
      border: 1px solid #000;
      padding: 16px 24px;
      background: white;
      gap: 16px;
    }

    .input-area {
      display: flex;
      width: 100%;
      gap: 12px;
    }
    .input-area span {
      font-weight: 600;
    }

    @media screen and (max-width: 500px) {
        body {
            background-image: url('/images/app.bg.svg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            
            margin: 0;
            padding: 0;
            
        }

        .bg {
            width: 100%;
            height: 100%;
            bottom: 0;
            position: absolute;
            background: url('/images/not-found-background-mobile.png') no-repeat center bottom fixed;
                        -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
        }

        .content {
            width: 90%;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 16px;
            line-height: 24px;
        }

        .container {
            margin-top: 10%;
            backdrop-filter: blur(20px);
        }

        .child-container {
            width: unset;
        }

        .header-1 {
          font-size: 16px;
        }

        #footer {
            backdrop-filter: brightness(0.1);
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
        }

        .content-wrapper {
          padding-left: 12px;
          padding-right: 12px;
        }

    }
  </style>
<body>
  <div class="container">
    <%- include('sidebar') %>

    <div class="content-wrapper">
      <form id="referralPrizeBonusForm" class="flex-form" method="post" action="/api/v1/point/set-referral-prize-bonus">
        <div class="input-area">
          <span>Tier 1: </span>
          <input type="number" name="referralPrizeBonusTier1"  value="<%= data.referralPrizeBonusTier1 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 2: </span>
          <input type="number" name="referralPrizeBonusTier2" value="<%= data.referralPrizeBonusTier2 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 3: </span>
          <input type="number" name="referralPrizeBonusTier3" value="<%= data.referralPrizeBonusTier3 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 4: </span>
          <input type="number" name="referralPrizeBonusTier4" value="<%= data.referralPrizeBonusTier4 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 5: </span>
          <input type="number" name="referralPrizeBonusTier5" value="<%= data.referralPrizeBonusTier5 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 6: </span>
          <input type="number" name="referralPrizeBonusTier6" value="<%= data.referralPrizeBonusTier6 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 7: </span>
          <input type="number" name="referralPrizeBonusTier7" value="<%= data.referralPrizeBonusTier7 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 8: </span>
          <input type="number" name="referralPrizeBonusTier8" value="<%= data.referralPrizeBonusTier8 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 9: </span>
          <input type="number" name="referralPrizeBonusTier9" value="<%= data.referralPrizeBonusTier9 || 0 %>" required/>
        </div>
        <div class="input-area">
          <span>Tier 10: </span>
          <input type="number" name="referralPrizeBonusTier10" value="<%= data.referralPrizeBonusTier10 || 0 %>" required/>
        </div>
        
        <button type="submit">Set Winning Referral Commision</button>
      </form>
      <div id="responseMessage"></div>
    </div>
  </div>

  <script>
    document.getElementById('referralPrizeBonusForm').addEventListener('submit', async function(event) {
      event.preventDefault();

      const form = event.target;
      const formData = new FormData(form);
      const jsonData = {};
        formData.forEach((value, key) => {
        jsonData[key] = value;
      });

      try {
        const response = await fetch(form.action, {
          method: form.method,
          headers: {
          'Content-Type': 'application/json',
          },
          body: JSON.stringify(jsonData),
        });

        const result = await response.json();
        const responseMessage = document.getElementById('responseMessage');

        if (response.ok) {
          responseMessage.innerHTML = `<p style="color: green;">${result.message}</p>`;
        } else {
          responseMessage.innerHTML = `<p style="color: red;">${result.message}</p>`;
        }
      } catch (error) {
        document.getElementById('responseMessage').innerHTML = `<p style="color: red;">An error occurred: ${error.message}</p>`;
      }
    });
  </script>

  <!-- <img src="/logo.svg">  -->
  <div class="bg"></div>
  <div class="bg"></div>
  <div id="footer">
    <p>&#169; 4DGPT 2024. All Rights Reserved.</p>
  </div>
</body>
</html>