<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Back Office | FUYO</title>
    <link href="https://fonts.googleapis.com/css?family=Inter" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="title" content="Back Office | FUYO"/>
    <meta name="description" content="Back Office | FUYO"/>
    <meta property="og:title" content="Back Office | FUYO">
    <meta content="Back Office | FUYO" property="og:description">
    <meta content="Back Office | FUYO" property="twitter:description">
    <meta content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA." property="twitter:image">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://gateway.pinata.cloud/ipfs/QmT6YbMJ7bnW2p5QYWNbNDujNSGtNceqqFrxH12mW4bGDa?_gl=1*1iy25mi*_ga*MTU0MzIwMDk3MC4xNjc3NjIxMDYx*_ga_5RMPXG14TE*MTY3NzYyMTA2MS4xLjEuMTY3NzYyMTMzOS4zOS4wLjA.">
    <meta name="twitter:title" content="Back Office | FUYO">
    
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="manifest" href="/images/manifest.json" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/logo192.png">
  </head>
  <style>
    * {
      box-sizing: border-box;
    }
    body {
        color: #101828;
        font-family: 'Inter', seif;
        font-style: normal;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
        /* Rectangle 38 */
    }

    .title {
        color: #0C9383;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }

    .img {
        width: 80px;
        margin: auto;
        display: block;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .child-container {
        width: 500px;
        padding: 15px;
        /* backdrop-filter: blur(20px); */
        border-radius: 32px;
        text-align: center;
    }

    .header-1 {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        letter-spacing: -0.02em;
        color: #667085;
    }

    .content {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #667085;
        width: 480px;
        display: block;
        margin: auto;
    }

    a {
        color: #43D9BB;
        text-decoration: none;
    }

    #footer {
        backdrop-filter: brightness(0.1);
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    #footer p {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #98A2B3;
    }

    main {
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .table-area {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 900px;
    }
    .table-area .wrapper {
      border-radius: 8px;
      border: 1px solid #000;
      background: #F0EEEE;
      padding: 6px;
    }
    .table-area table {
      width: 100%;
      border-radius: 8px;
      background: #F0EEEE;
      border-collapse: collapse;
    }
    .table-area thead {
      background-color: #000;
      border: 1px solid #000;
      color: #fff;
    }
    .table-area tbody {
      background-color: #fff;
    }
    .table-area th, td {
      padding: 12px 6px;
      text-align: center;
    }

    .content-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #FEEE5B;
      padding-top: 26px;
      padding-bottom: 26px;
    }

    .staff-menu {
      display: flex;
      width: 100%;
      gap: 12px;
      justify-content: flex-end;
    }

    .staff-menu-btn a {
      color: #000;
    }

    @media screen and (max-width: 500px) {
        body {
            background-image: url('/images/app.bg.svg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            position: relative;
            
            margin: 0;
            padding: 0;
            
        }

        .bg {
            width: 100%;
            height: 100%;
            bottom: 0;
            position: absolute;
            background: url('/images/not-found-background-mobile.png') no-repeat center bottom fixed;
                        -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
        }

        .content {
            width: 90%;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: 16px;
            line-height: 24px;
        }

        .container {
            margin-top: 10%;
            backdrop-filter: blur(20px);
        }

        .child-container {
            width: unset;
        }

        .header-1 {
          font-size: 16px;
        }

        #footer {
            backdrop-filter: brightness(0.1);
            position: fixed;
            bottom: 0;
            width: 100%;
            height: auto;
        }

        .content-wrapper {
          padding-left: 12px;
          padding-right: 12px;
        }

    }
  </style>
<body>
  <div class="container">
    <%- include('sidebar') %>

    <div class="content-wrapper">
      <div class="table-area">
        <div class="staff-menu">
          <button class="staff-menu-btn"><a href="/back-office/create-admin">Create Admin</a></button>
        </div>
        <!-- <div class="wrapper"> -->
          <table>
            <thead>
              <tr>
                <th>staffId</th>
                <th>name</th>
                <th>username</th>
                <th>email</th>
                <th>created date</th>
                <th>created by</th>
                <th>status</th>
                <th>admin type</th>
                <th>action</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<data.staffs.length; i++) {%>
                <tr>
                  <td><%= data.staffs[i].id %></td>
                  <!-- <td><%= data.staffs[i].name %></td> -->
                  <td class="name" data-id="<%= data.staffs[i].id %>"><%= data.staffs[i].name %></td>
                  <td><%= data.staffs[i].username %></td>
                  <td class="email" data-id="<%= data.staffs[i].id %>"><%= data.staffs[i].emailAddress %></td>
                  <td><%= data.staffs[i].createdDate %></td>
                  <td><%= data.staffs[i].createdBy %></td>
                  <td>
                    <select class="status" data-id="<%= data.staffs[i].id %>">
                      <option value="A" <%= data.staffs[i].status === 'A' ? 'selected' : '' %>>Active</option>
                      <option value="I" <%= data.staffs[i].status === 'I' ? 'selected' : '' %>>Inactive</option>
                      <option value="S" <%= data.staffs[i].status === 'S' ? 'selected' : '' %>>Suspended</option>
                      <!-- Add more options as needed -->
                    </select>
                  </td>
                  <td>
                    <select class="adminType" data-id="<%= data.staffs[i].id %>">
                      <option value="S" <%= data.staffs[i].adminType === 'S' ? 'selected' : '' %>>SuperUser</option>
                      <option value="F" <%= data.staffs[i].adminType === 'F' ? 'selected' : '' %>>Finance</option>
                      <option value="O" <%= data.staffs[i].adminType === 'O' ? 'selected' : '' %>>Operations</option>
                      <option value="B" <%= data.staffs[i].adminType === 'B' ? 'selected' : '' %>>Bot</option>
                      <!-- Add more options as needed -->
                    </select>
                  </td>
                  <td>
                    <button class="update-btn" data-id="<%= data.staffs[i].id %>">Update</button>
                  </td>
                  <!-- <td><a href="/api/v1/admin/update-admin-view/<%= data.staffs[i].id %>">update</a></td> -->
                </tr>
              <% } %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </nav>
  </header> -->

  <!-- <img src="/logo.svg">  -->
  <div class="bg"></div>
  <div class="bg"></div>
  <div id="footer">
    <p>&#169; FUYO 2024. All Rights Reserved.</p>
  </div>

  <script>
    document.querySelectorAll('.update-btn').forEach(function(button) {
      button.addEventListener('click', function() {
        const id = this.getAttribute('data-id');
        const status = document.querySelector('.status[data-id="' + id + '"]').value;
        const adminType = document.querySelector('.adminType[data-id="' + id + '"]').value;
        const name=document.querySelector('.name[data-id="' + id + '"]').textContent;
        const emailAddress = document.querySelector('.email[data-id="' + id + '"]').textContent;
  
        fetch('/api/v1/admin/update-admin/' + id, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            name,
            status,
            adminType,
            emailAddress
          }),
        })
        .then(response => response.json())
        .then(data => console.log(data))
        .catch((error) => {
          console.error('Error:', error);
        });
      });
    });
  </script>
</body>
</html>